<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>希望智心</title>
</head>
<body>
    <h1>希望智心后端</h1>
    <p>/login 登录接口</p>
	<p>/verify 轮询验证接口</p>
	<p>/victim/collect 受灾信息录入接口（PSY001）</p>
	<p>/victim/query 受灾信息查询接口（PSY002）</p>
	<p>/knowledge/rescue/query 救援知识查询（PSY101）</p>
	<p>/knowledge/psy/query 心理健康知识查询（PSY102）</p>
	<p>/psytest/evaluation 心理测评结果接口（PSY201）</p>
	<p>/psytest/recommend/doctor 心理医师咨询接口（PSY202）</p>
	
	<p>/psyQuery/feedback 咨询结果反馈接口（PSY301）</p>
	<p>/psyQuery/historyListQuery 咨询历史列表查询接口（PSY302）</p>
	<p>/psyQuery/historyDetailQuery 咨询历史详情查询接口（PSY303）</p>
	<p>/psyHis/list 辅导历史列表查询（医师）（PSY401）</p>
	<p>/psyHis/detail 辅导历史详情查询（医师）（PSY402）</p>
</body>
</html>