<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boc.hopeheatapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.boc.hopeheatapp.HopeHeatApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--闪屏页-->
        <activity
            android:name="com.boc.hopeheatapp.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--home activity-->
        <activity
            android:name="com.boc.hopeheatapp.activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!-- 设置页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/holo_light_Theme" />

        <!-- 自动更新-->
        <activity
            android:name="com.boc.hopeheatapp.activity.UpdateDialog"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 排班系统-->
        <activity
            android:name="com.boc.hopeheatapp.activity.ScheduleSystemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 我的工作台-->
        <activity
            android:name="com.boc.hopeheatapp.activity.WorkbenchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 单用户声纹识别-->
        <activity
            android:name="com.boc.hopeheatapp.activity.VocalVerifyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--分组用户声纹识别-->
        <activity
            android:name="com.boc.hopeheatapp.activity.VocalIdentifyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--声纹注册-->
        <activity
            android:name="com.boc.hopeheatapp.activity.VocalRegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--注册页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--登录页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--关于我们-->
        <activity
            android:name="com.boc.hopeheatapp.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--图片浏览-->
        <activity
            android:name="com.boc.hopeheatapp.activity.PictureShowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--二级频道页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.ChannelActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--浏览器页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.BrowserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--频道列表页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.ChannelListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--心理问卷页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.PsychologicalTestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--问答结束页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.QuestionnaireCompleteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--问答页面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.QuestionnaireActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--欢迎界面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--个人信息界面-->
        <activity
            android:name="com.boc.hopeheatapp.activity.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--首页-->
        <activity
            android:name="com.boc.hopeheatapp.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--知识查询-->
        <activity
            android:name="com.boc.hopeheatapp.activity.KnowledgeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--咨询历史-->
        <activity
            android:name="com.boc.hopeheatapp.activity.ConsultHistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!--评测结果-->
        <activity
            android:name="com.boc.hopeheatapp.activity.EvaluationResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'589bdab6'" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="" />
    </application>

</manifest>
